.background-black {
  background-color: black;
}

.color-black {
  color: black;
}

.border-black {
  border-color: black !important;
}

.background-blue {
  background-color: blue;
}

.color-blue {
  color: blue;
}

.border-blue {
  border-color: blue !important;
}

.background-brown {
  background-color: brown;
}

.color-brown {
  color: brown;
}

.border-brown {
  border-color: brown !important;
}

.background-gray {
  background-color: gray;
}

.color-gray {
  color: gray;
}

.border-gray {
  border-color: gray !important;
}

.background-green {
  background-color: green;
}

.color-green {
  color: green;
}

.border-green {
  border-color: green !important;
}

.background-pink {
  background-color: pink;
}

.color-pink {
  color: pink;
}

.border-pink {
  border-color: pink !important;
}

.background-purple {
  background-color: purple;
}

.color-purple {
  color: purple;
}

.border-purple {
  border-color: purple !important;
}

.background-red {
  background-color: red;
}

.color-red {
  color: red;
}

.border-red {
  border-color: red !important;
}

.background-white {
  background-color: #9AD6DF;
}

.color-white {
  color: #9AD6DF;
}

.border-white {
  border-color: #9AD6DF !important;
}

.background-yellow {
  background-color: yellow;
}

.color-yellow {
  color: yellow;
}

.border-yellow {
  border-color: yellow !important;
}

.background-default {
  background-color: rgba(0, 0, 0, 0.4);
}

.color-default {
  color: rgba(0, 0, 0, 0.4);
}

.border-default {
  border-color: rgba(0, 0, 0, 0.4) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-color: #F7F7F7;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
}

.main-page-search {
  padding: 0 16px;
}
.main-page-pagination {
  text-align: center;
}

.pokemon-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  padding-bottom: 10px;
}

.pokemon-card-wrapper {
  max-height: 210px;
  border: 1px solid #FFFFFF;
}
.pokemon-card-id-wrapper {
  line-height: 12px;
}
.pokemon-card-footer {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}
.pokemon-card-name {
  color: #FFFFFF;
  text-transform: capitalize;
}

.pokemon-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}
.pokemon-container {
  width: 500px;
  height: 670px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  position: relative;
  background-image: url("../images/opacity_pokeball.png");
  background-repeat: no-repeat;
  background-position: 95% 3%;
}
.pokemon-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 24px 0 24px;
  color: #FFFFFF;
}
.pokemon-arrow {
  cursor: pointer;
}
.pokemon-name {
  margin-left: 16px;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}
.pokemon-img {
  position: absolute;
  top: 87px;
  width: 200px;
  height: 200px;
}
.pokemon-pointer {
  cursor: pointer;
}
.pokemon-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
  height: 23%;
  padding: 0 15px;
}
.pokemon-buttons-wrapper :first-child {
  transform: rotate(180deg);
}
.pokemon-arrow-change {
  padding: 10px;
  cursor: pointer;
}

.pokemon-stats-description {
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  width: 100%;
  height: 442px;
  padding: 50px 20px 44px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-stats-spell-wrapper {
  display: flex;
}
.pokemon-stats-spell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 15px;
  margin-left: 10px;
}
.pokemon-stats-spell-name {
  color: #FFFFFF;
  font-weight: 700;
  text-transform: capitalize;
}
.pokemon-stats-spell:first-child {
  margin-left: 0;
}
.pokemon-stats-about-title {
  margin-top: 16px;
}
.pokemon-stats-about-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pokemon-stats-about-argument {
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}
.pokemon-stats-about-border {
  border-left: 1px solid #E0E0E0;
}
.pokemon-stats-about-height, .pokemon-stats-about-weight {
  margin-left: 5px;
}
.pokemon-stats-about-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.pokemon-stats-about-subtitle {
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}
.pokemon-stats-about-ability {
  text-transform: capitalize;
}
.pokemon-stats-wrapper {
  width: 100%;
}
.pokemon-stats-title {
  text-align: center;
  margin-top: 16px;
}
.pokemon-stats-values {
  margin-top: 5px;
}
.pokemon-stats-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pokemon-stats-name {
  width: 40px;
  text-align: end;
  font-weight: 700;
}
.pokemon-stats-progress {
  width: 80%;
}

.evolution-wrapper {
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  width: 100%;
  height: 442px;
  padding: 56px 20px 44px 20px;
}
.evolution-title {
  text-align: center;
}
.evolution-chain {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.evolution-level {
  display: flex;
  align-items: center;
}
.evolution-arrow {
  transform: rotate(180deg);
}
.evolution-pokemon {
  text-align: center;
}
.evolution-name {
  text-transform: capitalize;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.header-logo {
  width: 24px;
  height: 24px;
}
.header-title {
  margin-left: 16px;
  color: #212121;
}

/*# sourceMappingURL=main.css.map */
