.main-page {

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  &-search {
    padding: 0 16px;
  }

  &-pagination {
    text-align: center;
    @include mobile {
      margin-bottom: 15px;
    }
  }
}
