.pokemon-card {
  &-wrapper {
    max-height: 210px;
    width: 150px !important;
    border: 1px solid $white;
  }

  &-id-wrapper {
    justify-content: end !important;
    padding-bottom: 0 !important;
    line-height: 12px;
  }

  &-footer {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: $white;
  }

  &-name {
    color: $white;
  }

  &-name:first-letter {
    text-transform: uppercase;
  }
}
