.pokemon-card {
  &-wrapper {
    max-height: 210px;
    border: 1px solid $white;
  }

  &-id-wrapper {
    line-height: 12px;
  }

  &-footer {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: $white;
  }

  &-name {
    color: $white;
    text-transform: capitalize;
  }
}
