.pokemon {

  &-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    @include mobile-portrait {
      height: auto;
    }
  }

  &-container {
    width: 500px;
    height: 728px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background-image: url("../images/opacity_pokeball.png");
    background-repeat: no-repeat;
    background-position: 95% 3%;
    @include mobile {
      height: auto;
    }
  }

  &-header-wrapper {
    width: 100%;
    min-height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 24px 0 24px;
    color: $white;
    @include mobile {
      //padding-top: 50px;
    }
  }

  &-id {
    font-weight: bold;
  }

  &-arrow {
    cursor: pointer;
  }

  &-name {
    margin-left: 16px;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
  }

  &-img {
    position: absolute;
    top: 87px;
    width: 200px;
    height: 200px;
  }

  &-pointer {
    cursor: pointer;
  }

  &-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 15px;
    :first-child {
      transform: rotate(180deg);
    }
  }

  &-arrow-change {
    padding: 10px;
    cursor: pointer;
  }

  &-information {
    background-color: $white;
    border: 4px solid $white;
    border-radius: 8px;
    width: 100%;
    height: 500px;
    padding: 50px 20px 44px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      min-height: 520px;
      height: auto;
      justify-content: space-between;
    }
  }
}
