.header {

  &-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
  }

  &-logo {
    width: 24px;
    height: 24px;
  }

  &-title {
    margin-left: 16px;
    color: $dark-gray;
  }
}