.background-black {
  background-color: $black;
}

.color-black {
  color: $black;
}

.border-black {
  border-color: $black !important;
}

.background-blue {
  background-color: $blue;
}

.color-blue {
  color: $blue;
}

.border-blue {
  border-color: $blue !important;
}

.background-brown {
  background-color: $brown;
}

.color-brown {
  color: $brown;
}

.border-brown {
  border-color: $brown !important;
}

.background-gray {
  background-color: $gray;
}

.color-gray {
  color: $gray;
}

.border-gray {
  border-color: $gray !important;
}

.background-green {
  background-color: $green;
}

.color-green {
  color: $green;
}

.border-green {
  border-color: $green !important;
}

.background-pink {
  background-color: $pink;
}

.color-pink {
  color: $pink;
}

.border-pink {
  border-color: $pink !important;
}

.background-purple {
  background-color: $purple;
}

.color-purple {
  color: $purple;
}

.border-purple {
  border-color: $purple !important;
}

.background-red {
  background-color: $red;
}

.color-red {
  color: $red;
}

.border-red {
  border-color: $red !important;
}

.background-white {
  background-color: $ice;
}

.color-white {
  color: $ice;
}

.border-white {
  border-color: $ice !important;
}

.background-yellow {
  background-color: $yellow;
}

.color-yellow {
  color: $yellow;
}

.border-yellow {
  border-color: $yellow !important;
}

.background-default {
  background-color: $default;
}

.color-default {
  color: $default;
}

.border-default {
  border-color: $default !important;
}
