$dark-gray: #212121;
$medium-gray: #666666;
$light-gray: #E0E0E0;
$white: #FFFFFF;
$background: #F7F7F7;
$default: rgba(0,0,0, .4);
$black: black;
$blue: blue;
$brown: brown;
$gray: gray;
$green: green;
$pink: pink;
$purple: purple;
$red: red;
$ice: #9AD6DF;
$yellow: yellow;
